html {
  overflow-x: hidden;
}
/* Carousel-start */
.carousel-top {
  margin-top: 52.5px;
}
.text-caption-2h2 {
  color: #2B3035;
}
.text-caption-2h6 {
  color: #2B3035;
}
@media screen and (min-width:1200px) {
  .carusel-caption-1 {
    position: relative;
    top: -200px;
    left: -50px;
    width: 50%;
    height: 30%;
    text-align: right;
  }
  .carusel-2 {
    text-align: left;
  }
  .carusel-3 {
    position: relative;
    top: -250px;
    width: 50%;
    height: 30%;
    right: -600px;
    text-align: left;
  }
  .text-caption-1h2 {
    color: white;
    font-size: 3rem;
    letter-spacing: 1px;
  }
  .text-caption-1h6 {
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .text-caption-2h2 {
    color: #2B3035;
    font-size: 3rem;
    letter-spacing: 1px;
  }
  .text-caption-2h6 {
    color: #2B3035;
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .text-caption-3h2 {
    color: white;
    font-size: 3rem;
    letter-spacing: 1px;
  }
  .text-caption-3h6 {
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
  }
}
.xxxsss {max-width: 100%;}
.xxxsss1 {
  max-width: 100%;
}
.zxc {padding: 0;}
/* Carousel-end */
.content-main {
  background-color: #2B3035;
}
.content-1, .content-2, .content-3 {
  padding: 20px;
  height: 100px;
}
.content-svg-1 {
}
.content-h4-1 {
  display: inline;
  color: white;
}
.content-p-1 {
  color: white;
  margin-left: 30px;
}
.content-main-1 {
  background-color: #198754;
}
.logo-messenger {
  padding: 30px;

}
.text-res {
  text-align: center;
  padding: 10px;
  margin-top: 80px;
  letter-spacing: 1px;
  color: white;
}
.txt-res {
  color: white;
  letter-spacing: 1px;
  text-align: justify;
  padding: 10px;
  text-indent: 50px;
  line-height: 30px;
  word-spacing: 1px;
}
.photo1 {
  padding: 0;
}